h1 {color: rgb(4, 12, 128);}

h2 {color: rgba(117, 0, 23, 0.603);} 

h3 {color: rgba(175, 73, 5, 0.582);}

h1 {text-align: center;}
h1 {font-size: 150%;}
#moda {margin-left:40%;}
#moda {width: 28%;}
 h2 {font-size: 150%;}
h2 {text-align: center;}
#Guccio {margin-left:45%}
#Guccio {width: 20%;}
 h3 {font-size: 150%;}
h3 {text-align: center;}
#bolsas {margin-left:23%;}
#bolsa {width: 5%;}
body {background-color: rgba(169, 169, 169, 0.541);}
